/*--------------------------------------
 * Family Member Tool
 *--------------------------------------*/
/*top Wrapper for the tree diagram*/
div#tree-wrapper {

	width: 100%;
	height: 100%;
	float: center;
}

/*Div containing the list of family members*/
div#tree-members {

	width: 20%; 
	height: 100%;
	float: left;
	border-width: 1px;
	border-style: solid;
   border-right-style: hidden;
	overflow: scroll;
}

/*Top UL containing all of the family members in the list*/
ul.tree-member-list {

	font-size: 14px;
	text-align: left;
	margin-top: 8px;
	padding-left: 5px;
	list-style-type: none;
}

/*Header UL for the different family lists*/
ul.ft-members-header {

	margin: 8px 8px 8px 8px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	white-space: nowrap;
}

/* Family Echo link image*/
ul.ft-members-header > a > img{

	width: 15px;
	height: auto;
}

/*Family Member*/
ul.ft-members-header > li {

	padding: 0px 0px 0px 0px;
	white-space: nowrap;
}

/*The iframe displaying the family member's information*/
iframe#tree-member-iframe {
   
   width: 78%;
   height: 100%; 
   float: left;
   border-width: 1px; 
   border-style: solid;
   border-left-style: hidden;
}

/*------------------------------------------
 * 'tooltip' class
 *------------------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #D34808;
	 color: #D34808;
	 float: left;
}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 520px;
	 background-color: #78BEB3;
    color: black;
    border: 5px solid #0D2F36;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
	 padding-left: 8px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext ul {

	list-style: none;
}

.tooltip:hover .tooltiptext {

    visibility: visible;
}
