/*--------------------------------------
 * Family Member Tool
 *--------------------------------------*/
/*top Wrapper for the tree diagram*/
div#tree-wrapper {

    width: 100%;
    height: 100%;
    margin: auto;
}

/*Div containing the list of family members*/
div#tree-members {

	width: auto;
	height: 1500px;
	float: left;
	border: 1px solid #78BEB3;
	border-top-style: hidden;
	overflow: scroll;
}

/*Top UL containing all of the family members in the list*/
ul#tree-member-list {

	font-size: 14px;
	text-align: left;
	margin-top: 8px;
	padding-left: 5px;
	list-style-type: none;
}

/*Header UL for the different family lists*/
ul.ft-members-header {

	margin: 8px 3px 8px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	white-space: nowrap;
}

/*Family Member*/
ul.ft-members-header > li {

	padding: 3px 0px 0px 0px;
	white-space: nowrap;
}

.header-desc {

   margin-right: 5px;
}

/* Family Echo link image*/
.header-desc > a > img{

   width: 15px;
   height: auto;
}

/*Family Member Profile Div*/
div#tree-member-profile {

   width: auto;
   height: 1500px;
   margin-left: 0px;
	padding-top: 10px;
	padding-left: 10px;
   overflow-x: hidden;
}

/*--------------------------------------
 * Main table - Profile Div
 *--------------------------------------*/
#main-tbl {

	width: 100%;
	font-size: 14px;
	margin: 0 auto; 
	float: left;
}

/*--------------------------------------
 * Demog Table - Profile div
 *--------------------------------------*/
#demog-tbl {

	margin-top: 20px;
	font-size: 12px;
}

#demog-tbl th{

	text-align: right;
	padding-right: 5px;
}

#demog-tbl td{

	text-align: left;
}

#demog-tbl img {

   width: 150px;
   height: auto;
   margin-right: 5px;
}

#demog-tbl #member-name {

	font-size: 24px;
	font-weight: bold;
}

#demog-tbl #member-nicknames {

	padding-bottom: 20px;
}

/*--------------------------------------
 * Relation Table - Profile div
 *--------------------------------------*/
#relation-tbl {

	font-size: 12px;
   text-align: left;
}

#relation-tbl td {

   vertical-align: top;
}

#relation-tbl span {

	font-weight: bold;
	padding: 5px;
}

#relation-tbl .heading{

	text-decoration: underline;
}

#relation-tbl td.divider {

	padding-top: 15px;
	padding-bottom: 15px;
}

#relation-tbl .na {

	font-style: italic;
}

/*------------------------------------------
 * 'tooltip' class
 *------------------------------------------*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #D34808;
	 color: #D34808;
	 float: left;
}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 520px;
	 background-color: #78BEB3;
    color: black;
    border: 5px solid #0D2F36;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0px;
	 padding-left: 8px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext ul {

	list-style: none;
}

.tooltip:hover .tooltiptext {

    visibility: visible;
}
