/*-------------------------
 * CSS file for 'forum.php
 *-------------------------*/
#forum-wrapper {

	width: 99%;
	height: auto;
}

#forum-frame {

	width: 100%;
	border: none;
	background:url(../images/page_loading.gif) center center no-repeat;
}
