html {
	overflow-y: scroll;
}

body {
   background-color: #222223;
   color: white;
}

#page-wrapper {
	width: 100%;
   min-width: 1000px;
	text-align: center;
	margin: 0 auto;
}

#page-wrapper a {
   color: #D34808;
}

/*-------------------------
 * Top Navbar/Banner
 *-------------------------*/
#navbar-wrapper {
	width: 100%;
   min-width: 1000px;
	text-align: center;
}

#banner {
	width: 100%;
	height: auto;
   margin: 0px 0px 0px 0px;
	vertical-align: bottom;
}

ul#navbar {
   width: 100%;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   list-style-type: none;
   border: 2px solid #78BEB3;
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   overflow: hidden;
}

ul#navbar > li > a {
    width: 120px;
    padding: 14px 16px;
    float: left;
    color: white;
    text-decoration: none;
}

ul#navbar > li > a:hover {
    background-color: #78BEB3;
}

/*-------------------------
 * Site panel box  Formatting
 *-------------------------*/
@media all and (max-width: 1000px) {
	.panel { display: none; }
}

div.panel {
	width: 20%;
	height: 275px;
	margin: 0px 10px 10px 10px;
	border: 1px solid white;
}

div.panel-heading {
	color: #ffffff;
	background-color: #4C808D;
	padding: 2px 2px;
}

div.panel-heading h1{
	margin: 0px 10px 0px 10px;
	font-size: 16px;
	text-align: left;
}

div.panel-text {
	text-align: left;
	font-size: 14px;
	padding: 5px 5px 10px 5px;
}

/*-------------------------
 * Page text Div Formatting
 *-------------------------*/
div.page-text {
	width: 90%;
	font-size: 16px;
	margin: 0px auto;
}

div.page-text h1 {
	margin-top: 75px;
}

div.page-text p{
	text-indent: 40px;
	text-align: left;
}

div.text-section {
	overflow: hidden;
}

div.text-section p img {
   width: 300px;
   height: auto; 
}

/*-------------------------
 * Site sources Formatting
 *-------------------------*/
div.page-sources {
	width: 70%;
	margin: 50px auto 0px auto;
}
div.page-sources p {
	text-align: left;
	margin-left: 2em; 
	text-indent: -2em;
}
