html {
	overflow-y: scroll;
}

body {
   background-color: #222223;
   color: white;
}

#page-wrapper {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

#page-wrapper a {
   color: #D34808;
}

/*-------------------------
 * Top Navbar/Banner
 *-------------------------*/
#navbar-wrapper {
	width: 100%;
	text-align: center;
}

#banner {
	width: 100%;
	height: auto;
   margin: 0px 0px 0px 0px;
	vertical-align: bottom;
}

ul#navbar {
   width: 100%;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   list-style-type: none;
   border: 2px solid #78BEB3;
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   overflow: hidden;
}

ul#navbar > li > a {
    width: 120px;
    padding: 14px 16px;
    float: left;
    color: white;
    text-decoration: none;
}

ul#navbar > li > a:hover {
    background-color: #78BEB3;
}

/* Dropdown link - not currently active*/
/*
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 5px solid #0D2F36;
    background-color: #78BEB3;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 244px;
    left: 328px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0D2F36;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
*/

/*-------------------------
 * Site panel box  Formatting
 *-------------------------*/
div.panel {
	margin: 50px auto 21px;
	border: 1px solid white;
	border-radius: 4px;
	width: 50%;
}

div.panel-heading {
	color: #ffffff;
	background-color: #4C808D;
	border-color: #4C808D;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

h1.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
}

/*-------------------------
 * Page text Div Formatting
 *-------------------------*/
div.page-text {
	width: 90%;
	font-size: 16px;
	margin: 0px auto;
}

div.page-text p {
	text-indent: 40px;
	text-align: left;
}

div.page-text h1 {
	margin-top: 75px;
}

div.page-text p img {
   width: 300px;
   height: auto; 
}

/*-------------------------
 * Site sources Formatting
 *-------------------------*/
div.page-sources {
	width: 70%;
	margin: 50px auto 0px auto;
}
div.page-sources p {
	text-align: left;
	margin-left: 2em; 
	text-indent: -2em;
}
